<div class="alert alert-danger" role="alert" *ngIf="error">Error Occured!!!{{error}}</div>
<form [formGroup]="org" (ngSubmit)="submitform()">
  <div class="form-group">
    <label for="orgname">Organization Name</label>
    <input type="text" class="form-control" formControlName="orgname">
  </div>
  <div class="form-group">
    <label for="shortname">Shortname:</label>
    <input type="text" class="form-control" id="shortname" formControlName="shortname">
  </div>
  <div class="form-group">
    <label for="url">URL:</label>
    <input type="text" class="form-control" id="URL" formControlName="url">
  </div>
  <div class="form-group">
    <label for="logo">Logo</label>
    <input type="text" class="form-control" id="logo" formControlName="logo">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
